<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maven.springbootvue.Mapper.StudentMapper">

    <!-- Student Login(@Param("sno") String userID, @Param("password") String password); 登录验证-->
    <select id="Login" resultType="student">
        SELECT id,
               sno,
               name,
               gender,
               password,
               portrait_path,
               email,
               telephone,
               address,
               introducation,
               clazz_name,
               isdelete
        FROM tb_student
        WHERE sno = #{sno} AND password = #{password}
    </select>

    <!-- Student getStudent(@Param("sno") String userID); 获取学生信息-->
    <select id="getStudent" resultType="student">
        select * from tb_student where sno = #{sno}
    </select>

</mapper>